<!DOCTYPE html>
<html>
<head>
  <!-- Make site responsive on mobile/tablet -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>YelpCamp</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/newname.css">
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
	
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">YelpCamp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
        <a class="nav-link" href="/campgrounds">Home</a>
      </li>
	</ul>
    <ul class="navbar-nav ml-auto">
	  <% if(!currentUser){ %>
		<li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Sign Up</a>
        </li>
	  <% } else { %>
		<li class="nav-item">
			<a class="nav-link" href="#">Signed In As <%= currentUser.username %></a>
		</li>
	    <li class="nav-item">
		  <a class="nav-link" href="/logout">Logout</a>
	    </li>
	  <% } %>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<div class="container p-0">
	<!-- if([]) is not falsy!!! -->
	<% if(error && error.length > 0){ %>
	<div class="alert alert-danger" role="alert">
		<%= error %>
	</div>
	<% } %>
	<% if(success && success.length > 0){ %>
	<div class="alert alert-success" role="alert">
		<%= success %>
	</div>
	<% } %>
</div>